# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ---- Virtual Environment ----
.venv/
venv/
ENV/
env/

# ---- OS ----
.DS_Store

# ---- Streamlit ----
.streamlit/

# ---- IDE ----
.vscode/
.idea/

# ---- Logs / Cache ----
*.log
.cache/
